<mat-grid-list cols="6" rowHeight="100px" class="top-bar mat-elevation-z10">
  <mat-grid-tile [colspan]="6" [rowspan]="1">
    <div class="cities">
    <span *ngFor="let city of cities">
        <button class="heading" mat-button color="primary" (click)="setLocationWeather(city.id)">{{city.name}}</button>
    </span>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="900px" class="weather-card">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
        <app-weather-card [weatherData]="weatherData" [hourlyForecastData]="hourlyForecastData" [error]="error"></app-weather-card>
    </mat-grid-tile>
</mat-grid-list>

